In [127]:
pip install ndlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ndlib in /usr/local/lib/python3.7/dist-packages (5.1.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from ndlib) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from ndlib) (1.21.6)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.16.0)
Requirement already satisfied: python-igraph in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.9.11)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from ndlib) (2.6.3)
Requirement already satisfied: netdispatch in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.1.0)
Requirement already satisfied: bokeh in /usr/local/lib/python3.7/dist-packages (from ndlib) (2.3.3)
Requirement already satisfied: dynetx in /usr/local/lib/python3.7/dist-packages (from ndlib) (0.3.1)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (3.13)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (2.11.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (4.1.1)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (5.1.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (2.8.2)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh->ndlib) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh->ndlib) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh->ndlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh->ndlib) (1.15.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from dynetx->ndlib) (4.4.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from dynetx->ndlib) (4.64.0)
Requirement already satisfied: igraph==0.9.11 in /usr/local/lib/python3.7/dist-packages (from python-igraph->ndlib) (0.9.11)
Requirement already satisfied: texttable>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from igraph==0.9.11->python-igraph->ndlib) (1.6.4)

In [128]:
import matplotlib.pyplot as plt
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pickle
import math
import pandas as pd
import ndlib.models.ModelConfig as mc
import ndlib.models.epidemics as ep

In [138]:
df=pd.read_csv('TOPSIS_result_Email.csv')

In [139]:
df

      node        DC        CC        BC        EC    TOPSIS
0      104  0.062721  0.378216  0.036931  0.229103  0.949770
1      332  0.045936  0.382820  0.039490  0.123657  0.774723
2       22  0.045053  0.381659  0.033463  0.116593  0.719794
3       41  0.045053  0.377585  0.026024  0.131570  0.643457
4       75  0.037986  0.374339  0.030118  0.082444  0.622879
...    ...       ...       ...       ...       ...       ...
1128  1131  0.000883  0.189965  0.000000  0.000040  0.002720
1129  1124  0.000883  0.186154  0.000000  0.000025  0.001392
1130  1130  0.000883  0.185513  0.000000  0.000022  0.001168
1131  1051  0.000883  0.184545  0.000000  0.000030  0.000831
1132  1132  0.000883  0.182169  0.000000  0.000014  0.000000

[1133 rows x 6 columns]

In [140]:
df['RankingEC'] = df['EC'].rank(ascending=False)
df['RankingBC'] = df['BC'].rank(ascending=False)
df['RankingDC'] = df['DC'].rank(ascending=False)
df['RankingCC'] = df['CC'].rank(ascending=False)
top10=pd.DataFrame()
A=[]
B=[]
ss=[]
top10=pd.DataFrame()
A=df[df['RankingDC'].isin(range(20+9))].node.values
for i in range(10):
  B=A[i]
  ss.append(B)

top10['DC']=ss

top10

    DC
0  104
1  332
2   22
3   41
4   40
5  577
6  232
7  195
8   15
9  377

In [141]:

top10['BC']=df[df['RankingBC'].isin(range(1,11))].node.values
top10['CC']=df[df['RankingCC'].isin(range(1,11))].node.values
top10['EC']=df[df['RankingEC'].isin(range(1,11))].node.values
top10['TOPSIS']=df[df.index.isin(range(10))].node.values

In [142]:
top10

    DC   BC   CC   EC  TOPSIS
0  104  104  104  104     104
1  332  332  332  332     332
2   22   22   22   41      22
3   41   41   41  195      41
4   40   75   75   15      75
5  577   40   40   48      40
6  232  577  232  115     577
7  195  232  134  203     232
8   15  134  377    2     195
9  377  354   51   55     134

In [143]:
top10.to_csv("top10_result_Email.csv")

In [144]:
G1 = nx.read_edgelist("Email.txt", nodetype = int)
data = pd.read_csv("TOPSIS_result_Email.csv")
x=data[["DC","BC","CC","EC"]]

In [145]:
x

            DC        BC        CC        EC
0     0.062721  0.036931  0.378216  0.229103
1     0.045936  0.039490  0.382820  0.123657
2     0.045053  0.033463  0.381659  0.116593
3     0.045053  0.026024  0.377585  0.131570
4     0.037986  0.030118  0.374339  0.082444
...        ...       ...       ...       ...
1128  0.000883  0.000000  0.189965  0.000040
1129  0.000883  0.000000  0.186154  0.000025
1130  0.000883  0.000000  0.185513  0.000022
1131  0.000883  0.000000  0.184545  0.000030
1132  0.000883  0.000000  0.182169  0.000014

[1133 rows x 4 columns]

In [146]:
data

      node        DC        CC        BC        EC    TOPSIS
0      104  0.062721  0.378216  0.036931  0.229103  0.949770
1      332  0.045936  0.382820  0.039490  0.123657  0.774723
2       22  0.045053  0.381659  0.033463  0.116593  0.719794
3       41  0.045053  0.377585  0.026024  0.131570  0.643457
4       75  0.037986  0.374339  0.030118  0.082444  0.622879
...    ...       ...       ...       ...       ...       ...
1128  1131  0.000883  0.189965  0.000000  0.000040  0.002720
1129  1124  0.000883  0.186154  0.000000  0.000025  0.001392
1130  1130  0.000883  0.185513  0.000000  0.000022  0.001168
1131  1051  0.000883  0.184545  0.000000  0.000030  0.000831
1132  1132  0.000883  0.182169  0.000000  0.000014  0.000000

[1133 rows x 6 columns]

In [147]:
data.drop(columns=['TOPSIS'], inplace=True)
data
AA=pd.read_csv('TOPSIS_result_Email.csv')
inf10=AA.head(10)
inf10

   node        DC        CC        BC        EC    TOPSIS
0   104  0.062721  0.378216  0.036931  0.229103  0.949770
1   332  0.045936  0.382820  0.039490  0.123657  0.774723
2    22  0.045053  0.381659  0.033463  0.116593  0.719794
3    41  0.045053  0.377585  0.026024  0.131570  0.643457
4    75  0.037986  0.374339  0.030118  0.082444  0.622879
5    40  0.043286  0.374959  0.026499  0.104180  0.613028
6   577  0.032686  0.359822  0.031557  0.053080  0.593461
7   232  0.039753  0.373351  0.027717  0.080060  0.593178
8   195  0.041519  0.358001  0.019789  0.154247  0.564735
9   134  0.035336  0.369935  0.027264  0.067493  0.564543

In [148]:
Y=inf10[["DC","BC","CC","EC"]]
Yrr=Y.to_numpy()
Yrr

array([[0.06272085, 0.03693125, 0.37821584, 0.2291028 ],
       [0.0459364 , 0.03948986, 0.38282043, 0.12365671],
       [0.045053  , 0.03346298, 0.3816588 , 0.1165928 ],
       [0.045053  , 0.02602442, 0.37758506, 0.13157011],
       [0.03798587, 0.0301175 , 0.37433862, 0.08244386],
       [0.04328622, 0.02649936, 0.3749586 , 0.10418012],
       [0.03268551, 0.03155663, 0.359822  , 0.05308027],
       [0.03975265, 0.02771703, 0.37335092, 0.08005999],
       [0.04151943, 0.01978877, 0.35800127, 0.15424721],
       [0.03533569, 0.02726447, 0.36993464, 0.0674932 ]])

In [149]:
kmeans = KMeans(n_clusters=10, init=Yrr, max_iter=20000, n_init=10, random_state=0).fit(x)
centr = kmeans.cluster_centers_
centr

/usr/local/lib/python3.7/dist-packages/sklearn/cluster/_kmeans.py:1146: RuntimeWarning: Explicit initial center position passed: performing only one init in KMeans instead of n_init=10.
  self._check_params(X)

array([[6.27208481e-02, 3.69312485e-02, 3.78215837e-01, 2.29102798e-01],
       [3.59430212e-02, 2.19259013e-02, 3.67869611e-01, 9.32170489e-02],
       [2.37846665e-02, 1.05586202e-02, 3.42329471e-01, 5.25199230e-02],
       [1.82914155e-02, 3.77762374e-03, 3.16818085e-01, 5.91094068e-02],
       [1.44375297e-02, 4.23508511e-03, 3.20020054e-01, 2.85573526e-02],
       [8.75831662e-03, 1.82525390e-03, 2.95847813e-01, 1.56203591e-02],
       [1.34612149e-03, 8.27090855e-05, 2.22301144e-01, 6.18437034e-04],
       [5.09249636e-03, 6.31922422e-04, 2.74704812e-01, 7.25718583e-03],
       [2.99764429e-02, 9.01461370e-03, 3.42704596e-01, 1.20249453e-01],
       [2.63865417e-03, 1.87546748e-04, 2.52301034e-01, 2.78881159e-03]])

In [150]:
def distance_euclidean(data,center,j):
    T= pd.DataFrame()
    for i in range(len(data)):
        distance=math.sqrt((data['DC'][i]-center[j][0])**2+(data['BC'][i]-center[j][1])**2+
                           (data['CC'][i]-center[j][2])**2+(data['EC'][i]-center[j][3])**2)
        T=T.append({'node':data['node'][i], 'cluster':str(j),'distance from center':distance},ignore_index=True)
    return T.sort_values(by='distance from center')

In [151]:
Res= pd.DataFrame()
for i in range(10):
  T=distance_euclidean(data,centr,i)
  Res=Res.append({'cluster':str(i), 'Node_avant_KMeans':str(inf10['node'][i]),
                    'Node_ apres _KMeans':int(T.head(1)['node']),
                    'distance from center':float(T.head(1)['distance from center'])},ignore_index=True)

In [152]:
Res

  cluster Node_avant_KMeans  Node_ apres _KMeans  distance from center
0       0               104                104.0              0.000000
1       1               332                 53.0              0.013519
2       2                22                181.0              0.002979
3       3                41                321.0              0.004551
4       4                75                239.0              0.001688
5       5                40                742.0              0.001411
6       6               577                501.0              0.000566
7       7               232                718.0              0.001162
8       8               195                 55.0              0.007047
9       9               134               1010.0              0.000847

In [153]:
Res["Node_ apres _KMeans"]=Res["Node_ apres _KMeans"].astype(int)
Res.to_csv("k_means_result.csv",index=False)

In [154]:
Res

  cluster Node_avant_KMeans  Node_ apres _KMeans  distance from center
0       0               104                  104              0.000000
1       1               332                   53              0.013519
2       2                22                  181              0.002979
3       3                41                  321              0.004551
4       4                75                  239              0.001688
5       5                40                  742              0.001411
6       6               577                  501              0.000566
7       7               232                  718              0.001162
8       8               195                   55              0.007047
9       9               134                 1010              0.000847

In [155]:
top10=pd.read_csv('top10_result_Email.csv')

In [156]:
top10

   Unnamed: 0   DC   BC   CC   EC  TOPSIS
0           0  104  104  104  104     104
1           1  332  332  332  332     332
2           2   22   22   22   41      22
3           3   41   41   41  195      41
4           4   40   75   75   15      75
5           5  577   40   40   48      40
6           6  232  577  232  115     577
7           7  195  232  134  203     232
8           8   15  134  377    2     195
9           9  377  354   51   55     134

In [157]:
top10["k_means"]=Res["Node_ apres _KMeans"]

In [158]:
k_top10=top10

In [159]:
k_top10

   Unnamed: 0   DC   BC   CC   EC  TOPSIS  k_means
0           0  104  104  104  104     104      104
1           1  332  332  332  332     332       53
2           2   22   22   22   41      22      181
3           3   41   41   41  195      41      321
4           4   40   75   75   15      75      239
5           5  577   40   40   48      40      742
6           6  232  577  232  115     577      501
7           7  195  232  134  203     232      718
8           8   15  134  377    2     195       55
9           9  377  354   51   55     134     1010

In [161]:
k_top10.to_csv("k_top10_result_Email.csv")